section.center
  span.drag-me DRAG ME
  .slider__wrap
    .swip__slide.image2
      p.swip__slide-text Ink Lingerie
    .swip__slide.image1
      p.swip__slide-text Ink Lingerie
    .swip__slide.image3
      p.swip__slide-text Ink Lingerie
    .swip__slide.m
      p.swip__slide-text Minions
    .swip__slide.m1
      p.swip__slide-text Minions
    .swip__slide.m2
      p.swip__slide-text Minions