@media screen and (max-width: 1024.98px) {

    .left__text{
        &::before{
            left: -290px;
            font-size: 96px;
        }
    }

}

@media screen and (max-width: 414.98px) {
    
    .left{

        &__logo{
            font-size: 16px;
            margin: 33px 24px;
        }

        &__text{
            &::before{
                left: -150px;
                top: 40%;
                font-size: 48px;
            }
        }

        &__social{
            margin: 24px;
            transform: translateY(-60px);
        }

    }
}