@font-face {
    font-family: 'Schnyder_X_Cond_XL_Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Schnyder_X_Cond_XL_Demi'), url('../fonts/Schnyder_X_Condensed/Schnyder_X_Cond_XL_Demi.otf') format('opentype');
}

@font-face {
    font-family: 'TTTravels-Light';
    font-style: normal;
    font-weight: normal;
    src: local('TTTravels-Light'), url('../fonts/TT_Travel/TTTravels-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'GT-America-Extended-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('GT-America-Extended-Bold'), url('../fonts/GT_America/GT-America-Extended-Bold.otf') format('opentype');
}