<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title|TFTL
        link(rel="stylesheet", href="./css/main.css")
    body.body
        .body__wrap

            include ../blocks/leftSection/leftSection.pug
            include ../blocks/centerSection/centerSection.pug
            include ../blocks/rightSection/rightSection.pug

        script(src="./js/main.js")